<div class="row justify-content-between d-flex">
  <div class="col-8 photos">
    <% @produit.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class:"cloudinary-image", crop: :crop %>
    <% end %>
  </div>
  <div class="col-4 mt-4" id="produit-infos">
     <p> <strong> Nom:</strong> <%= @produit.name %> </p>
     <p> <strong> Description:</strong> <%= @produit.description %> </p>
     <p> <strong> Price:</strong> <%= humanized_money_with_symbol(@produit.price) %> </p>
  </div>
</div>
