<div class="navbar navbar-firstwebsite sticky-top navbar-light navbar-expand-lg justify-content-between ">
    <a class="navbar-brand" href="/"><strong>My Brand</strong></a>
    <div class="d-flex flex-row align-items-center">
      <% if !user_signed_in? %>
        <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
      <% else %>
        <%= link_to current_user.prenom, "#", class: "nav-link" %>
      <% end %>
        <%= image_tag "bag" %>
    </div>
</div>
