<div class="container">
  <div class="row">
    <div class="col-6">
      <h1> COLLECTION AUTOMNE-HIVER </h1>
      <h2> 2020 - 2021 </h2>
    </div>
    <div class="col-6">
      <div class="background-picture"></div>
    </div>
  </div>
</div>
