  <div class="row justify-content-between align-items-center flex-grow-0">
    <div class="col">
      <div class="container ml-5">
        <h1> COLLECTION <br> AUTOMNE-HIVER </h1>
        <h2> 2020 - 2021 </h2>
        <div class="mt-5 text-right mr-5">
          <a class="btn btn-outline-mauve" href="/"> <strong>Découvrir</strong></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="background-picture"></div>
    </div>
  </div>
